*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: clip;
}

html, body{
    overflow-x: hidden;
}

.wrapper{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: black;
}

